* {
  margin: 0px;
  padding: 0px;
  border: none;
}

.container {
  margin: auto;
  width: 1250px;
}

.play-area {
  display: flex;
  align-content: space-between;
  padding: 70px 250px;
  background-color: #2196F3;
}

.play-area__card {
  width: 300px;
  padding: 10px;
  border: 1px #000 solid;
}

.play-area__card:nth-of-type(1) {
  margin-right: 100px;
}

.card-grid__row {
  display: flex;
  flex-direction: row;
  width: inherit;
  background-color: red;
}

.card-grid__card {
  width: 250px;
  height: 100px;
  margin: 10px;
  text-align: center;
  padding: 10px;
  border: 1px #000 solid;
  cursor: pointer;
}
